<!DOCTYPE html>
<html>
<head><meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
<title>APS SPORTS</title>
</head>
<body id="body">
<h1 id="head"><center>ARMY PUBLIC SCHOOL   SPORTS RESULTS</center></h1>
<img src="download.jpg" hspace="850">
<h1><LEFT>Games played on  Sports day</LEFT></h1>
<ul id="list" size>
    <li>Football</li>
    <li>Kho-Kho </li>
    <li>Basketball</li>
</ul>
 <table cellpadding=10 id="table">
<tr>
<th colspan="4" id="th">SPORTS</th>
</tr>
<tr>
<th> TEAM NAME </th>
<th>GAME</th>
<th>POSITION</th>
</tr>
<tr>
<td>Kickers</td>
<td>Football</td>
<td>1</td>
</tr>
<tr>
<td>Fine ball</td>
<td>Football</td>
<td>2</td>
</tr>
<tr>
<td>Play stars</td>   
<td>football</td>   
<td>3</td>   
</tr>  
<tr> 
<td>APS stars</td>
<td>Kho-Kho</td>
<td>1</td>
</tr>
<tr>
<td>Happy house </td>
<td>Kho-Kho</td>
<td>2</td>
</tr>
<tr>
<td>Westendies</td>
<td>Kho-Kho-</td>
<td>3</td>
</tr>
<tr>
<td>Smiley</td>
<td>Basketball</td>
<td>1</td>
</tr>
<tr>
<td>Kings</td>
<td>Basketball</td>
<td>2</td>
</tr>
<tr>
<td>Baskets of India </td>
<td>Basketball</td>
<td>3</td>
</tr>
</table>
<p><center><a href="https://youtu.be/_5g7DSnbs34?si=qM3kbHBesQZ2IQyt">CLICK HERE TO WATCH THE VIDEO OF SPORTS DAY </a></center></p>
</body>
</html>

